.container {
    text-align: right;
}

input {
    border: 0;
    border-bottom: 1px solid black;
    height: 20px;
    width: 400px;
    outline: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

.bot {
    background-color: rgb(200, 200, 200);
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 5px;
    text-align: left;
    margin-top: 10px;
    padding: 4px;
    padding-left: 20px;
}

.user {
    background-color: grey;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 5px;
    text-align: right;
    margin-top: 10px;
    padding: 4px;
    padding-right: 20px;
    max-width: 200px;
    margin-left: auto;
    margin-right: 0;
}

.chat {
    display: inline-block;
    max-width: 300px;
}

.historyContainer {
    height: 600px;
    overflow: scroll;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.circle {
    font-size: large;
    text-align: left;
}